{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="mb-3">
        <a href="{{ employeeUploadFileLink }}">Upload employees file</a>
    </div>
    <div class="mb-3">
        <a href="{{  employeesListLink }}">Employees list</a>
    </div>
{% endblock %}
